<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.neusoft.demo.mapper.RegisterOrderMapper">


    <select id="getPatientDetail"
            resultType="com.neusoft.demo.vo.RegisterOrderVO">


        SELECT
            ro.id,
            ro.order_no AS orderNo,
            ro.price AS fee,
            ro.status,

            p.name AS patientName,
            d.name AS doctorName,
            dep.name AS departmentName,

            s.work_date AS visitDate,
            s.time_slot AS timeSlot

        FROM register_order ro

                 LEFT JOIN pmi_patient p ON ro.user_id = p.id
                 LEFT JOIN doctor d ON ro.doctor_id = d.id
                 LEFT JOIN department dep ON d.dept_id = dep.id
                 LEFT JOIN schedule s ON ro.schedule_id = s.id

        WHERE ro.id = #{id}


    </select>

    <select id="listPatientOrders"
            resultType="com.neusoft.demo.vo.RegisterOrderVO">


        SELECT

            ro.id,
            ro.order_no AS orderNo,
            ro.price AS fee,
            ro.status,

            d.name AS doctorName,

            dep.name AS departmentName,

            s.work_date AS visitDate,

            s.time_slot AS timeSlot


        FROM register_order ro


                 LEFT JOIN doctor d
                           ON ro.doctor_id = d.id


                 LEFT JOIN department dep
                           ON d.dept_id = dep.id


                 LEFT JOIN schedule s
                           ON ro.schedule_id = s.id


        WHERE ro.user_id = #{patientId}


        ORDER BY ro.create_time DESC


    </select>

    <select id="deptRank" resultType="map">
        SELECT d.name AS deptName,
               COUNT(r.id) AS total
        FROM register_order r
                 LEFT JOIN doctor doc ON r.doctor_id = doc.id
                 LEFT JOIN department d ON doc.dept_id = d.id
        WHERE r.create_time >= DATE_SUB(NOW(), INTERVAL 7 DAY)
        GROUP BY d.name
        ORDER BY total DESC
    </select>

    <select id="doctorLoad" resultType="map">
        SELECT doc.name AS doctorName,
               COUNT(r.id) AS total
        FROM register_order r
                 LEFT JOIN doctor doc ON r.doctor_id = doc.id
        WHERE DATE(r.create_time) = CURDATE()
        GROUP BY doc.id
        ORDER BY total DESC
    </select>


</mapper>